* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Outfit", sans-serif;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}
.container {
  max-width: 20rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 5px 5px 10px rgb(153, 152, 152);
}
.img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.heading {
  margin-bottom: 1rem;
}
.para {
  text-align: center;
  color: hsl(220, 15%, 55%);
  margin-bottom: 1rem;
}
